<html>
<head>
  <title>My Project</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  <h1>Project TV</h1>
  <p>Day: {{body}} keep in mind this in the USA.</p>
</body>
</html>
