<html>
<head>
  <title>My Project</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <form id="frm1" action="form_action.asp">
  Search A Show:<br>
  <input type="text" name="search" placeholder="search shows"><br>
  <input id"btn" type="button" onclick="showSearch" value="Submit">
</form>
<script>
{{showSearch}}
// function showSearch() {
//        alert("f1 called")
//    }
//    window.onload = function() {
//        document.getElementById("btn").onclick = function fun() {
//            alert("hello")
//            showSearch()
//        }
//    }
</script>

{{search}}
</body>
</html>
