<html>
<head>
  <title>My Project</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src='/javascripts/main.js' />

</head>

<body>
  <form id="form1" onsubmit="script">
  Search A Show:<br>
   <input id='input1'type="search" /> <button id='btn' onclick="onClick()">Search</button>
</form>


<script>
// function myFunction () {
//   document.getElementById("form1").submit
// }
// {{onClick}}
// document.getElementById('btn').onclick = function onClick() {
//        alert("onClick called")
//        return true
//    }
</script>

{{search}}
</body>
</html>
