body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}
div {
  width: 100px;
  height: 100px;
  border: 1px #ccc dotted;
  margin: 10px;
}
